<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
                <h2>Login</h2>
            </div>
            <form #login="ngForm">
                <div class="form-group">
                    <input type="text" class="form-control" required id="inputUsername" placeholder="firstName" name="firstName" [(ngModel)]="user.firstName">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" required id="inputPassword" placeholder="Password" name="password" [(ngModel)]="user.password">
                </div>
                <div class="form-group">
                <select class="form-control" [(ngModel)]="user.role" name="role">
                    <option value="" selected="selected" disabled>Select Role</option>
                    <option *ngFor="let opt of roleOptions"
                            [value]="opt.value">{{opt.key}}</option>
                </select>
                </div>
                <button type="submit" class="btn btn-primary" (click)="userLogin()" [disabled]="login.form.invalid">Login</button>

            </form>
        </div>
    </div>
</div>

