<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Player Profile</h4>
                    </div>
                    <div class="content">
                        <div class="row justify-content-center">
                            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                                <div class="row align-items-center">
                                    <div class="col mt-4">
                                        <input type="text" [(ngModel)]="receiveData.playerId" class="form-control"
                                               placeholder="User Id" readonly>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4">
                                    <div class="col">
                                        <input type="text" [(ngModel)]="receiveData.firstName" class="form-control"
                                               placeholder="First Name" readonly>
                                    </div>
                                </div>
                                <div class="row align-items-center mt-4">
                                    <div class="col">
                                        <input type="text" [(ngModel)]="receiveData.profileName" class="form-control"
                                               placeholder="Profile Name">
                                    </div>
                                    <div class="col">
                                        <input type="email" [(ngModel)]="receiveData.email" class="form-control"
                                               placeholder="Email">
                                    </div>
                                  <div class="col">
                                    <input type="number" [(ngModel)]="receiveData.mobileNumber" class="form-control"
                                           placeholder="Mobile Number">
                                  </div>
                                  <div class="col">
                                    <input type="text" [(ngModel)]="receiveData.profilePhoto" class="form-control"
                                           placeholder="Profile Photo">
                                  </div>
                                  <div class="col">
                                    <input type="text" [(ngModel)]="receiveData.bio" class="form-control"
                                           placeholder="Bio">
                                  </div>
                                  <div class="col">
                                    <input type="text" [(ngModel)]="receiveData.state" class="form-control"
                                           placeholder="State">
                                  </div>
                                  <div class="col">
                                    <input type="text" [(ngModel)]="receiveData.dob" class="form-control"
                                           placeholder="Date of Birth">
                                  </div>

                                </div>
                                <div class="row justify-content-start mt-4">
                                    <div class="col">
                                        <button type="button" class="btn btn-primary" (click)="UpdateProfile()">Save
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
