<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Category</h4>
                    </div>
                    <div class="content">
                        <form>
                            <div class="row">
                                <div class="col-md-3 pull-right">
                                    <button type="button" class="btn btn-primary" (click)="addCategory()">ADD</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2 pull-left">
                                            <label class="control-label">Rows per page</label>
                                            <select class="form-control" [(ngModel)]="pageSize" name="pageSize"
                                                    (ngModelChange)="onPageSizeChanged($event)">
                                                <option *ngFor="let opt of limitOptions" [value]="opt.value">{{opt.key}}</option>
                                            </select>
                                        </div>
                                    </div>

                                    <ngx-datatable
                                        #myTable
                                        class='material'
                                        [columnMode]="'force'"
                                        [headerHeight]="40"
                                        [footerHeight]="50"
                                        [rowHeight]="'auto'"
                                        [externalPaging]="true"
                                        [count]="totalSize"
                                        [offset]="currentPage"
                                        [limit]=pageSize
                                        [rows]='rows'
                                        (page)="pageCallback($event)"
                                    >

                                        <ngx-datatable-column name="Category Id">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column name="Category Type">
                                            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                                                <strong>{{value}}</strong>
                                            </ng-template>
                                        </ngx-datatable-column>
                                        <ngx-datatable-column>
                                            <ng-template ngx-datatable-header-template>
                                                <span>Action</span>
                                            </ng-template>
                                            <ng-template let-row="row" ngx-datatable-cell-template>
                                                <i class="fa fa-edit" style="cursor: pointer"
                                                   (click)="editCategory(row)"></i>
                                                <i class="fa fa-trash-o" style="cursor: pointer"
                                                   (click)="deleteCategory(row)"></i>
                                            </ng-template>
                                        </ngx-datatable-column>
                                    </ngx-datatable>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" *ngIf="!editBlock">Add Category</h4>
                <h4 class="modal-title" *ngIf="editBlock">Edit Category</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Category</label>
                    <input type="text" class="form-control" placeholder="Category" [(ngModel)]="categoryName"
                           (keyup)="checkValue()">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="onCloseHandled()">Close</button>
                <button type="button" class="btn btn-primary" (click)="saveCategory()" [disabled]="btndisable">Save
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal !-->
